# API
API_FOOTBALL_KEY=your_api_key_here
API_BASE_URL=https://v3.football.api-sports.io

# PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=football_pipeline
DB_USER=postgres
DB_PASSWORD=postgres

#example below (id's: 39 = premier league, 78 = bundesliga, 145 = serie a, 140 = laliga), season 2025 = 25/26.
LEAGUE_SEASONS=39:2025,140:2025